<app-topo></app-topo>
<br/>
<div class="container">
    <div class="row my-3">
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-block">
                    <h4 class="card-title">Clientes</h4>
                    <h2><i class="fa fa-group fa-3x"></i></h2>
                </div>
                <div class="row px-2 no-gutters">
                    <div class="col-6">
                        <h3 class="card card-block border-top-0 border-left-0 border-bottom-0">100</h3>
                    </div>
                    <div class="col-6">
                        <h3 class="card card-block border-0">70%</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-block">
                    <h4 class="card-title">Estoque</h4>
                    <h2><i class="fa fa-briefcase fa-3x"></i></h2>
                </div>
                <div class="row px-2 no-gutters">
                    <div class="col-6">
                        <h3 class="card card-block border-top-0 border-left-0 border-bottom-0">85</h3>
                    </div>
                    <div class="col-6">
                        <h3 class="card card-block border-0">50%</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center h-100 card-info">
                <div class="card-block">
                    <h4 class="card-title">Loja</h4>
                    <h2><i class="fa fa-shopping-cart fa-3x"></i></h2>
                </div>
                <div class="row p-2 no-gutters rounded">
                    <div class="col-6 rounded">
                        <div class="card card-block text-info rounded-0 border-left-0 border-right-0 border-top-0 border-bottom-0">
                            <h3>75</h3>
                            <span class="small text-uppercase">items</span>
                        </div>
                    </div>
                    <div class="col-6 rounded">
                        <div class="card card-block text-info rounded-0 border-right-0 border-top-0 border-bottom-0">
                            <h3>30%</h3>
                            <span class="small text-uppercase">savings</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>